p,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#texto{
    margin-top: 80px;
}

div#AboutMe{
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
}




