a,h1,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3vh;
}

a:hover{
    color:white;
}

a#alan{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#titulo{
    padding-top: 40px;
}


svg{
    margin-right: 20px;
}

div#Contenedorsvg{
    margin-top: 70px;
}

a#linksvg{
    color: black;
}

a#linksvg:hover{
    color: white;
}


@media (max-width:425px){
    div#contenedor{
    padding-top: 40px;
    }

}

div#contenedor,nav{
    background-color: #28b463;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    padding-bottom: 88px;
    padding-top: 70px;

}